<div class="todolist">
<h1>All Projects <small> <%= link_to 'New Project', new_project_path %> </small></h1>

<ul>
  <% if @projects.empty? %>
  <li>No projects.</li>
  <% end %>
<% @projects.each do |project| %>
<li><h3>
  <%= link_to project.title, project_path(project) %>
  <span>
    <%= link_to "<small><i class=\"fa fa-trash-o\"></i></small>".html_safe, project,
                method: :delete, data: { confirm: 'Are you sure?' } %>
  </span>
  </h3>
</li>
<% end %>
</ul>


</div>
